html, body
    // +adapt(480px)
    overflow auto !important
    // overflow-y scroll !important
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
::-webkit-scrollbar {
  width: 0;
  height: 0
}
.wrapper 
    width 100%
    position relative
    overflow hidden
.maincontent 
    width 100%
    position relative
.section 
    width 100%
    position relative
.container 
    margin 0 auto
    max-width: 1640px
    padding-left 20px
    padding-right 20px
    +adapt(1200px)
        max-width: 992px
        width 100% 
        
    +adapt(992px)
        max-width: 992px
        width 100% 
        
    +adapt(768px)
        max-width: 768px
        width 100% 
        padding-left 16px
        padding-right 16px
    +adapt(480px)
        max-width 480px
        width 100% 
    +adapt(320px)
        min-width 320px
        
.block__title
    display flex
    flex-direction column
    justify-content center
    align-items center
.h1__title
    font(HN-B, dark, 40px)
    text-align center
    margin-bottom 40px

    +adapt(1400px)
        font-size 35px
    +adapt(480px)
        font-size 30px
.h2__title
    font(HN-B, dark, 40px)
    line-height 1.1
    text-align center
    +adapt(1200px)
        font-size 30px
    +adapt(768px)
        font-size 25px
.button
    border none
    outline none 
    background-color transparent
        
.ya-share2__container_size_m .ya-share2__icon
    width 50px!important
    height 50px!important
    background-size 50px 50px !important

.ya-share2__badge 
    display: inline-block;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    tran()
    &:hover 
        transform: translateY(-5px)
    
.txt-al-c
    text-align center