@font-face   
    font-family: 'HN' 
    src: url('../fonts/Helvetica-Neue.woff2') format('woff2'),
         url('../fonts/Helvetica-Neue.woff') format('woff') 
    font-weight: normal 
    font-style: normal 

  
@font-face   
    font-family: 'HN-B' 
    src: url('../fonts/Helvetica-Neue-Bold.woff2') format('woff2'),
         url('../fonts/Helvetica-Neue-Bold.woff') format('woff') 
    font-weight: normal 
    font-style: normal 

@font-face   
    font-family: 'AG' 
    src: url('../fonts/AvantGardeCBold.woff2') format('woff2'),
         url('../fonts/AvantGardeCBold.woff') format('woff') 
    font-weight: normal 
    font-style: normal 
