footer.footer
    .footer__wrap
        .footer__up
            .footer__up__logo
                img(src="assets/images/logo/footer-logo.png", alt="")
            a.footer__contacts-link(href="tel:+1(310)957-4930") +1 (310) 957-4930
            a.footer__contacts-link(href="mailto:konovalova@sci-guide.com") konovalova@sci-guide.com
    .footer__down
            .footer__down-txt Copyright © 2020 AiHub Group. All rights reserved.
            .footer__down-language 
                .footer__down-language__images
                    img(src="assets/images/usa.png", alt="")
                .footer__down-language__txt United States