.header
    .container.header__container
        .header__logo__wrap(data-aos="zoom-out-left")
            .header__logo
                img(src="assets/images/aihub.png", alt="")
            .header__logo-txt AiHub
        .header__menu(data-aos="zoom-out-right")
            .burger-menu
                .burger            
