.header
    .container.header__container
        .header__logo
            img(src="assets/images/aihub.png", alt="")
        .header__menu
            button.header__menu__burger
                img(src="assets/images/burger.png", alt="")
            //- button.header__menu__burger-active Close
            
