section.section.news_all
    .container
        h1.h1__title News all
        .news_all__list
            -for(let i=0; i < 40; i++){
                .news_all__item.more-js
                    a(href="#").news_all__item-link
                        .news_all__item-info
                            .news_all__item-date 11 August 2020 
                            h2.h2__title Tincidunt arcu non sodales neque sodales.
                            .news_all__item-description Stating you’re a great communicator. A good communicator is typically someone who speaks well, is clear and concise with their thoughts and what they’re trying to say. If throughout your interview, you are mumbling and talking in circles, this is a clear indication that the person
                        .news_all__item-pic
                            img(src="https://via.placeholder.com/640x360", alt="")
            - }
        button.button.news_all__btn-more More
