extends ../template

block variables
    - var title = "Главная Страница"

block content

    include ../common/header.pug
    h1.h1__title(data-aos="zoom-in") Professional CV Writing Services
    include ../section/section-banner.pug
    include ../section/section-info.pug
    include ../section/section-menu.pug
    include ../section/section-color.pug
    include ../section/section-numbers.pug
    include ../section/section-slider.pug
    include ../section/section-color.pug
    include ../section/section-partners.pug
    include ../section/section-slider.pug
    include ../section/section-slider.pug
    include ../section/section-slider.pug
    include ../common/btnUp.pug
    include ../common/footer.pug