extends ../template

block variables
    - var title = "Главная Страница"

block content

    include ../common/header.pug
    h1.h1__title(data-aos="zoom-in") Job Interview Coaching & Preparation Services
    include ../section/section-hackathons.pug
    include ../common/btnUp.pug
    include ../common/footer.pug