extends ../template

block variables
    - var title = "Главная Страница"

block content
    include ../includes/header.pug

    include ../section/news_all.pug
    include ../section/news_page.pug
    //- include ../section/first-screen.pug
    //- include ../section/card-slider.pug
    //- include ../includes/btnUp.pug
          