extends ../template

block variables
    - var title = "Новости"

block content
    .wrapper-bckg
        include ../common/header.pug

        include ../section/news.pug

        include ../common/footer.pug
