
.news
    padding 50px 25px
    +adapt(980px)
        padding 25px

.news__img
    max-width 1090px
    margin 0 auto
    text-align center

.container__news
    padding 25px
    max-width 800px
    margin 0 auto
    p
        font(HN, black, 18px)
        +adapt(1400px)
            font-size 16px
    h2
        font(HN-B, black, 32px)
    h3
        font(HN-B, black, 20px)
    div
        font(HN, black, 18px)
        +adapt(1400px)
            font-size 16px
.news_all__item-info
    .h2__title
        text-align left !important
        padding 0 !important