.section-partners
    padding 230px 0
    position relative
    overflow hidden
    +adapt(1440px)
        padding 130px 0
    +adapt(768px)
        padding 100px 0
    +adapt(480px)
        padding 70px 0
.partners__list
    display flex
    justify-content center
    margin-right -31px
    flex-wrap wrap
    margin-top 30px
.partners__item
    margin-right 30px
    margin-bottom 30px
.partners__link
    display block  
    border 1px solid #FBFBFD
    img 
        display block
        width 100%