    
.map
    display flex
    margin-top 50px
    border-top 1px solid rgba(#707070, 0.1)
    border-bottom 1px solid rgba(#707070, 0.1)
    +adapt(1550px)
        display block

.map__left
    width 50%
    +adapt(1550px)
        width 100%
        display flex
        justify-content center
.map__right
    width 50%
    +adapt(1550px)
        width 100%
.map__right__contacts
    margin 30px 0
.map__right__contacts-bold
    font(HN-B, dark, 20px)
    text-align center
.map__right__contacts-light
    font(HN, #535353, 16px)
    text-align center



