.section-partners
    padding 300px 0
    +adapt(1200px)
        padding 180px 0
    +adapt(768)
        padding 100px 0
.partners__list
    display flex
    justify-content center
    margin-right -31px
    flex-wrap wrap
    margin-top 30px
.partners__item
    margin-right 30px
    margin-bottom 30px
.partners__link
    display block  
    border 1px solid #EFEFEF
    img 
        display block
        width 100%