.section-info
    margin-top 50px
.container__info
    padding 25px
    max-width 800px
    margin 0 auto
.h2__title-content
    font(HN-B, #45286F, 32px)
    text-align center
    +adapt(1200px)
        font-size 25px
    +adapt(768px)
        font-size 22px
.h2__title-info
    font(HN-B, dark, 40px)
    line-height 1.1
    text-align center
    +adapt(1200px)
        font-size 30px
    +adapt(768px)
        font-size 25px
        padding 0 25px
.info__description
    font(HN, #535353, 24px)
    +adapt(1440px)
        font-size 22px
    +adapt(768px)
        font-size 18px
  
