.banner-wrap
    position relative
    overflow hidden
    img
        display block
        width 100%
        +adapt(480px)
            max-width 640px
            height 184px
            width auto
        