.section-hackathons
    padding 150px 0
    +adapt(992px)
        padding 100px 0
    +adapt(480px)
        padding 70px 0
.hackathons__list
    display flex
    flex-wrap wrap
    margin-right -15px
    margin-left -15px
    margin-top 50px
.hackathons__item
    flex 0 0 33%
    width 33%
    padding-right 15px
    padding-left 15px
    position relative
    tran()
    &:hover
        transform translateY(-10px) !important
    +adapt(1200px)
        flex 0 0 50%
        width 50%
    +adapt(480px)
        flex 0 0 100%
        width 100%
.hackathons__cart
    margin-bottom 30px
    box-shadow 0px 3px 26px 0px rgba(0,0,0,0.06)
    border 1px solid #EFEFEF
    margin 0 auto
    +adapt(768px)
        margin-top 30px !important
        &:first-child
            margin-top 0
    +adapt(480px)
        margin-top 20px !important
.hackathons__pic
    img 
        display block
        width 100%
.hackathons__txt
    padding 20px 20px
.h3-hackathons
    font(HN-B, black, 30px)
    line-height 1.1
    +adapt(1200px)
        font-size 26px
    +adapt(992px)
        font-size 24px
    +adapt(480px)
        font-size 22px
.hackathons__descr
    margin 50px auto
    max-width 670px
    width 100%
    font(HN, #717171, 24px)
    +adapt(1200px)
        font-size 22px
    +adapt(768px)
        font-size 18px
