.section-slider
    padding 200px 0
.bg-slider
    background-color #FBFBFD
.slider__list-wr
    position relative
.slider-button-next
    position absolute
    right 0px
    top 50%
    transform translateX(-50%)
    z-index 10

.slider-button-prev
    position absolute
    top 50%
    left 0px
    transform translateX(-50%) rotate(180deg)
    z-index 10
.h2-slider
    font(HN, black, 32px)
