.section-consultants
    padding 250px 0
    +adapt(1440px)
        padding 130px 0
    +adapt(480px)
        padding 50px 0
.consultants__list
    display flex
    flex-wrap wrap
    margin-top 40px
    margin-right -15px
    margin-left -15px
.consultants__item
    flex 0 0 25%
    width 25%
    padding-right 15px
    padding-left 15px
    margin-bottom 20px
    cursor pointer
    perspective 400px
    +adapt(1440px)
        flex 0 0 33%
        width 33%
    +adapt(992px)
        flex 0 0 50%
        width 50%
    +adapt(480px)
        flex 0 0 100%
        width 100%
.consultants__cart
    position relative
    &:hover
       .consultants__content
           z-index 10
           opacity 1
        .consultants__content__name-name,
        .consultants__content__name-surname,
        .consultants__content__position,
        .consultants__content__item
            margin-left 0
.consultants__name
    position absolute
    bottom 20px
    left 30px
    line-height 1.1
    font(HN, white, 32px)
    +adapt(1200px)
        font-size 25px
.consultants__content
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background-color white
    padding 20px
    z-index -10
    opacity 0
    overflow hidden
    tran()
.consultants__content__name-name,
.consultants__content__name-surname
    font(HN-B, black, 32px)
    line-height 1.1
    margin-left 20px
    tran()
    +adapt(768px)
        font-size 23px
.consultants__content__position
    font(HN, black, 16px)
    margin-left 20px
    tran()
.consultants__content__item
    margin-top 10px
    margin-left 20px
    tran()
.consultants__content__shrt-txt
    font(HN-B, #45286F, 16px)
    +adapt(768px)
        font-size 14px
.consultants__content__descr
    font(HN, #717171, 16px)
    +adapt(768px)
        font-size 14px