.section-coaching
    padding 150px 0
    +adapt(992px)
        padding 100px 0
.coaching__list
    display flex
    flex-wrap wrap
    margin-right -15px
    margin-left -15px
    margin-top 50px
.coaching__item
    flex 0 0 33%
    width 33%
    padding-right 15px
    padding-left 15px
    
    +adapt(1200px)
        flex 0 0 50%
        width 50%
    +adapt(480px)
        flex 0 0 100%
        width 100%
.coaching__cart
    margin-bottom 30px
.coaching__pic
    img 
        display block
        width 100%
.coaching__descr
    background-color white
    padding 50px 20px
    font(HN, #717171, 24px)
    +adapt(1200px)
        font-size 22px
    +adapt(768px)
        font-size 18px
