.section-color
    background linear-gradient(0.25turn, #6200FF, #A716E7, #4F33C8, #2560E5, #00C7FF)
.padding-130
    padding 130px 0
    +adapt(468px)
        padding 90px 0 
.padding-300
    padding 300px 0
    +adapt(468px)
        padding 150px 0
.h2__section-color
    font(HN-B, white, 40px)
    text-align center
    margin 0 auto
    width 45%
    +adapt(1200px)
        width 80%
        font-size 35px
    +adapt(768px)
        width 100%
        font-size 25px

.section-color__descr
    font(HN, white, 24px)
    margin 0 auto
    width 45%
    +adapt(1200px)
        width 80%
        font-size 20px
    +adapt(769px)
        width 100%
        font-size 18px
