@import "config/variables.styl"
@import "config/mixins.styl"

@import "layout/fonts.styl"
@import "layout/base.styl"
@import "layout/adjastment.styl"

// @import "swiper/swiper.styl"

@import "common/header.styl"
@import "common/menu.styl"
@import "common/news_all.styl"
@import "common/section-home.styl"
@import "common/footer.styl"

// @import "common/btn-up.styl"
// @import "fancybox/core.styl"
// @import "fancybox/fullscreen.styl"
// @import "fancybox/share.styl"
// @import "fancybox/slideshow.styl"
// @import "fancybox/thumbs.styl"

// @import "slick/slick.styl"
// @import "slick/slick-theme.styl"

// @import "sections/first-screen.styl"
@import "sections/news.styl"
@import "sections/section-banner.styl"
@import "sections/section-info.styl"
@import "sections/section-menu.styl"
@import "sections/section-color.styl"
@import "sections/section-numbers.styl"
@import "sections/section-slider.styl"
@import "sections/section-partners.styl"   
@import "sections/section-consultants.styl"
@import "sections/section-form.styl"
@import "sections/section-coaching.styl"
@import "sections/section-headhunters.styl"
@import "sections/section-hackathons.styl"
@import "sections/section-map-contacts.styl"