@import "config/variables.styl"
@import "config/mixins.styl"

@import "layout/fonts.styl"
@import "layout/base.styl"
@import "layout/adjastment.styl"

// @import "swiper/swiper.styl"

@import "common/header.styl"
@import "common/news_all.styl"
@import "common/section-home.styl"
@import "common/footer.styl"

// @import "common/btn-up.styl"
// @import "fancybox/core.styl"
// @import "fancybox/fullscreen.styl"
// @import "fancybox/share.styl"
// @import "fancybox/slideshow.styl"
// @import "fancybox/thumbs.styl"

// @import "slick/slick.styl"
// @import "slick/slick-theme.styl"

// @import "sections/first-screen.styl"
@import "sections/news.styl"
// @import "sections/card-slider.styl"
// @import "sections/sc-header.styl"
// @import "sections/sc-article.styl"
