.first-screen
    .aihub-wrap
        .background-img
            img(src="assets/images/first-screen.png", alt="")
        .header-inside    
            .header-logo
                img(src="assets/images/aihub.png", alt="")
            
            //- ul.header-menu
            //-     li.header-item Главная
            //-     li.header-item О компании
            //-     li.header-item Блог
            //-     li.header-item Мероприятия
            //-     li.header-item Контакты
            //-     li.header-item Партнерство
    .line-page
        img.line-page__img(src="assets/images/line.png" alt='')
