.news
    .news__img
        img(src="assets/images/news-images.png", alt="")
    .container__news
        h2 The era of new products
        p Stating you’re a great communicator. A good communicator is typically someone who speaks well, is clear and concise with their thoughts and what they’re trying to say. If throughout your interview, you are mumbling and talking in circles, this is a clear indication that the person does not have as good communication skills as he/she said.
        p We want to create value – for our customers and consumers, for our teams and our people, for our shareholders as well as for the wider society and communities, in which we operate. Henkel’s employees will always put their passion, pride and enthusiasm into making this happen.
        h3 The era of new products
        p Stating you’re a great communicator. A good communicator is typically someone who speaks well, is clear and concise with their thoughts and what they’re trying to say. If throughout your interview, you are mumbling and talking in circles, this is a clear indication that the person does not have as good communication skills as he/she said.
        .news-inside__img
            img(src="assets/images/img.png", alt="")