section.map-contacts
    .map
        .map__left
            img(src="https://via.placeholder.com/961x551")
        .map__right
            .map__right__contacts
                .map__right__contacts__item
                    .map__right__contacts-bold position
                    .map__right__contacts-light If throughout your interview
                .map__right__contacts__item
                    .map__right__contacts-bold position
                    .map__right__contacts-light If throughout your interview
            include ../common/pulsator.pug