.home
    .container
        section.first-screen
            .first-screen__info(data-aos="fade-up")
                h1.first-screen__info-h1__title Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod 
                h2.first-screen__info-h2__title We are a ​
                .first-screen__info-description 
                    p lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In est ante in nibh mauris.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In est ante in nibh mauris.
            .first-screen__pic(data-aos="fade-up")
                img(src="https://via.placeholder.com/872x593", alt="")
        include ../common/scroll.pug

        section.cart-menu#cart-menu
            .cart-menu__list
                -for(let i=0; i< 8;i++){
                    .cart-menu__item-wrap(data-aos="fade-up")
                        .cart-menu__item
                            a(href="#").cart-menu_title-link Professional CV Writing Services
                            .cart-menu_descr Professional CV Writing & Rewriting Services - HR Resume Writer
                            a(href="#").cart-menu-link Go over
                -}
        section.blog
            h2.h2__home-blog Blog
            .news_all__list
                -for(let x=0; x < 2; x++){
                    .news_all__item.home__item-blog(data-aos="zoom-out-up")
                        .news_all__item-info
                            .news_all__item-date 11 August 2020
                            a(href="#").home-blog__title-link Tincidunt arcu non sodales neque sodales.
                            .news_all__item-description Stating you’re a great communicator. A good communicator is typically someone who speaks well, is clear and concise with their thoughts and what they’re trying to say. If throughout your interview, you are mumbling and talking in circles, this is a clear indication that the person
                            a(href="#").home-blog_goto-link Go over
                        .news_all__item-pic
                            img(src="https://via.placeholder.com/640x360", alt="")
                        
                - }
            .blog__news_all__goto(data-aos="zoom-out-up")
                .news_all__shrt-txt All news
                a(href="#").news_all_goto-link Go to