section.section-partners
    .container
        h2.h2__title Our clients
        .partners__list
            -for(let i = 0; i< 3; i++){
                .partners__item
                    a(href="#").partners__link
                        img(src="assets/images/ead59f4f62a20c45216a1f5d24776da5.svg")
            -}
            