section.section-color.padding-130
    .container
        h2.h2__section-color Why you need help with writing your CV
        .section-color__descr 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.