section.section-hackathons
    h2.h2__title(data-aos="fade-up") Types of hackathons we organize
    .container
        .hackathons__list
            -for(let i=0;i<5;i++) {
                .hackathons__item(data-aos="fade-up")
                    .hackathons__cart
                        .hackathons__pic
                            img(src="https://via.placeholder.com/538x300")
                        .hackathons__txt
                            h3.h3-hackathons Closed corporate events
            -}
        .hackathons__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
