section.section-info
    .container__info
        h2.h2__title-info(data-aos="fade-up"
     data-aos-anchor-placement="center-center") Professional CV Writing & Rewriting Services - HR Resume Writer
        .info__description(data-aos="fade-up"
     data-aos-anchor-placement="center-center")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt arcu non sodales neque sodales
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt arcu non sodales neque sodales
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt arcu non sodales neque sodales
