section.section-numbers
    .container
        h2.h2__title Shocking numbers about how important CVs are for HR specialists.
        .numbers__descr In est ante in nibh mauris. Leo vel orci porta non pulvinar:
        .numbers__list
            -for(let i=0; i< 5;i++){
                .numbers__item
                    .numbers__item__num 12 000
                    .numbers__item__txt Adipiscing elit pellentesque
            -}
            