section.section-coaching.bg-color
    h2.h2__title-info(data-aos="fade-up") Our HR Consultants
    .container
        .coaching__list
            -for(let i =0; i<4; i++) {
                .coaching__item(data-aos="fade-up")
                    .coaching__cart
                        .coaching__pic
                            img(src="https://via.placeholder.com/538x300", alt="")
                        .coaching__descr
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        
            -}
        