section.section-menu
    h2.h2__title How we can help you with your resume?
    .container
        .menu__list
            -for(let i=0;i<5;i++){
                a(href="").menu__item__link
                    .menu__pic
                        img(src="assets/images/menu-pic.png", alt="")
                    .menu__text
                        .menu__text__shrt-txt Order a New Professional CV
                        .menu__text__learn-more
                            span.menu__text__learn-more-txt Learn more
                            span.menu__text__learn-more-pic
                                img(src="assets/images/learn-more.png", alt="")

            -}
        