section.section-headhunters
    h2.h2__title(data-aos="fade-up") Our HR Consultants
    .container
        .headhunters__list
            -for(let i=0;i<5;i++) {
                .headhunters__item
                    .headhunters__cart
                        .headhunters__pic
                            img(src="https://via.placeholder.com/400x225")
                        .headhunters__descr
                            h3.h3-headhunters Benefits 1
                            .headhunters__shrt-txt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            -}
        
    h2.h2__title(data-aos="fade-up") Faster, more professional, save money, get the best specialists…

